nav{
    margin-bottom: 30px;
} 
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li .nav-link{
    text-decoration: none;
    cursor: pointer;
    color: rgb(241, 237, 237);
    padding: 5px;
    margin-bottom: 10px;
    background-color: tomato;
    border-radius: 5px;
    font-weight: bolder;
}
header{
    margin-bottom: 30px;
    background-color: red;
    padding: 20px;
    text-align: center;
}
header h1{
    font-size: 25px;
}
.employees-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.card-collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card{
    width: 200px;
    box-shadow: 0 2px 2px 2px rgb(217, 217, 238);
    margin: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.card-img{
    width: 100px;
}
footer{
    margin-top: 30px;
    background-color: black;
    padding: 20px;
    text-align: center;
    color: white;
}
.selections{
    width: 350px;
    margin-bottom: 20px;
}
.selections select{
    width: 100%;
    padding: 10px;
    outline: none;
}
.card.shadow{
    border: 4px solid red;
}
.shadow{
    border: 4px solid red;
}
.page-error{
    color: red;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    width: 100%;
    text-align: center;
}

